@media (max-width: 576px) {

}

@media (max-width: 768px) {

}


@media (max-width: 992px) {

}


@media (max-width: 1200px) {
    
}

body {
  background-image: url('../images/bg.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.card-body {
  background-color: #fcfdad;
}

.tale_title {
  color: #fcfdad;
  font-size: 2.5em;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #3BFCD5;
}

.tale_body {
  font-size: 1.5em;
}

.tale_foot{
  font-size: 1.5em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}